@import "~or-theme";

$or-collapse-title-color: $or-gray7 !default;

.or-collapse {
  position: relative;
  font-family: $or-font-family;

  .or-collapse-name {
    display: flex;
    line-height: 30px;
    color: $or-collapse-title-color;
    cursor: pointer;
  }

  .or-overlay {
    display: none;
  }

  &.or-collapse-open {
    .or-overlay {
      display: block;
    }
  }
}
