@import "~or-theme";

.or-collapse {
  position: relative;
  font-family: $font-family;

  .or-collapse-name {
    display: flex;
    line-height: 30px;
    color: $gray7;
    font-size: 14px;
    cursor: pointer;
  }

  .or-overlay {
    display: none;
  }

  &.or-collapse-open {
    .or-overlay {
      display: block;
    }
  }
}
